
div#mainDiv{
    /*border: 1px solid blue;*/
    height: 99vh;
    padding: 1%;
}


div.middleDivs{
    border: 1px solid green;
    position: relative;
    top: 80px;
	background-color: hsla(170, 18%, 46%, 0.8);
    display: inline-block;
    border-radius: 15px;
    padding: 1rem;
    height: 80%;
    vertical-align: middle;
}

div#friendList{
    width: 15%;
    text-align: left;
    overflow-x: auto;
    resize: horizontal;
}

article.friendsListArticle{
    border: 1px solid green;
    background-color: hsla(170, 18%, 40%, 1);
    margin: 1em;
    padding: 1em;
}

a.friendsAnchor{
    text-decoration: none;
    color: #e9f2ff;
}

div#chatScreen{
    /*border: 1px solid red;*/
    width: 78%;
    margin: 0 auto;
}


div#chatBox{
    background-color: hsla(200, 18%, 30%, 0.6);
    width: 95%;
    height: 90%;
    border: 1px;
    padding: 5px;
    margin: 0 auto;
    overflow-x: auto;
    display: flex;      /** TO BE TESTED (CHAT ARTICLES ARE MOVED FROM RIGHT TO LEFT? */
    flex-direction: column-reverse;
}

article.chatArticle{
    /*border: 1px solid red;*/
    display: grid;
    border-radius: 8px;
    background-color: hsla(180, 18%, 50%, 1);
    /*width: 40%;*/
    width: inherit;
    max-width: 60%;
    padding: 1%;
    margin: 1em;
    float: left;
}

article.sent{
    margin-left: auto;
    width: inherit;
    max-width: 60%;
    background-color: hsl(180, 55%, 32%);
}

article.general{
    /*width: 80%;*/
    max-width: 80%;
    margin: 1em auto;
    background-color: hsl(180, 55%, 32%);
}

p.chatP{
    color: #333333;
    text-shadow: 2px 2px 5px #999999;   /* horizontalOffset verticalOffset blurRadius shaddowColor */
    font-style: italic;
    font-weight: bolder;
    overflow-wrap: break-word;
    /*padding: 0.5em;*/
    background-color: #333333;
    border-radius: 15px;
    padding: 1em;
}

header.messageTimeHeader, footer.messageDateFooter {
    color: #333333;
}

header.messageTimeHeader{
    text-align: right;
}

.chatP > h1{
    color: white;
}

footer.messageDateFooter{
    text-align: right;
}



    /** Message form **/

form#sendTextForm{
    background-color: hsla(170, 18%, 40%, 1);
    width: 95%;
    height: 5%;
    padding: 5px;
    margin: 0 auto;
}

input#writeText{
    color: #111111;
    background-color: hsla(170, 18%, 50%, 1);
    width: 90%;
    height: 90%;
    border: 0;
    border-radius: 6px;
}

input#submitBtn {
	width: 5%;
	background-color: #456;
	height: 90%;
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 6px;
}

    /** Message form and Logout form **/

input#submitBtn:hover, input#logoutBtn:hover{
	cursor: pointer;
	background-color: #567;
}

input#submitBtn:active, input#logoutBtn:active{
	background-color: #345;
}


    /** Call and video call icons **/

div#iconsDiv, div#inCallIconsDiv{
    /*border: 1px solid red;*/
    border-radius: 5px;
    background-color: hsla(203, 20%, 55%, 0.6);
    /*width: fit-content;*/
    /*height: fit-content;*/
    padding: 5px;
    display: flow;
    position: absolute;
    top: 5%;
    right: 5%;
}
div#inCallIconsDiv{
    background-color: hsla(0, 100%, 50%, 0.6);
}


img.callIcons{
    border: 1px solid black;
    width: 35px;
    /*height: 35px;*/
}


    /** Video box **/

div#videoBox{
    border: 1px solid red;
    background-color: hsla(200, 18%, 30%, 0.6);
    width: 800px;
    height: 600px;
    /*display: flow;*/
    display: none;
    position: absolute;
}

video#receivedVideo{
    background-color: #333333;
    width: 98%;
    height: 98%;
    /*margin: 1% 1% 1% 1%;*/
    margin: 1% 1%;
}

video#localVideo{
    border: 1px solid red;
    background-color: #444444;
    width: 20%;
    height: 20%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

button#hangupButton{

}


    /** Logout form **/

form#logoutForm {
    position: fixed;
    top: 2%;
    right: 2%;
}

input#logoutBtn{
    background-color: #26777c;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    padding: 1em;
}
