<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard - ChatServer srl</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
<!--    <script type="text/javascript" src="/js/dashboard.js"></script>-->
    <!--script src="/webjars/jquery/jquery.min.js"></script-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" src="/js/WebSockets.js"></script>
</head>

<body>

    <div id="mainDiv">

        <header>
            <h1>Chat DASHBOARD</h1>
            <h2> Welcome, <span id="emailSpan" th:text="${email}"/> - <span th:text="${role}"/> </h2>

            <form id="logoutForm" action="#" th:action="@{/logout}" method="post">
<!--                <button id="logoutBtn" type="submit">Logout</button>-->
                <input id="logoutBtn" type="submit" value="Logout"/>
            </form>
        </header>


        <div id="friendList" class="middleDivs">
            <h1>Contacts:</h1>

            <article class="friendsListArticle">
                <a href="#" class="friendsAnchor"><h3 id="friendsListGeneralH3">General</h3></a>
            </article>
            <article th:each="friend : ${session.friendsList}" class="friendsListArticle">
                <a href="#" class="friendsAnchor"><h3 class="friendsListH3" th:text="${friend}"> </h3></a>
<!--                <td><span th:text="${book.author}"> Author </span></td>-->
            </article>
        </div>


        <div id="chatScreen" class="middleDivs">

            <div id="chatBox" name="chatFrame">
<!--                <article class="chatArticle">-->
<!--                    <p class="chatP"> test article in div chatBox</p>-->
<!--                </article>-->
            </div>


            <!-- form id="sendTextForm" action="sendText" method="post" enctype="text/plain"-->
            <form id="sendTextForm" enctype="text/plain">
                <input type="text" id="writeText" placeholder="Write something...">

                <!-- CSRF token hidden field -->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <input type="button" id="submitBtn" value=">>">
            </form>

        </div>

    </div>

</body>
</html>