<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>-->
    <title>Dashboard - ChatServer srl</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />

    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" src="/js/WebSockets.js"></script>
    <script type="text/javascript" src="/js/WebRTC.js"></script>
</head>

<body>

    <div id="mainDiv">

        <header id="pageHeader">
            <h1>Chat DASHBOARD</h1>
            <h2> Welcome, <span id="emailSpan" th:text="${email}"/> - <span th:text="${role}"/> </h2>

            <form id="logoutForm" action="#" th:action="@{/logout}" method="post">
                <input id="logoutBtn" type="submit" value="Logout"/>
            </form>
        </header>

        <div id="friendList" class="middleDivs">
            <h1>Contacts:</h1>

            <article class="friendsListArticle">
                <a href="#" class="friendsAnchor"><h3 id="friendsListGeneralH3">General</h3></a>
            </article>
            <article th:each="friend : ${session.friendsList}" class="friendsListArticle">
                <a href="#" class="friendsAnchor"><h3 class="friendsListH3" th:text="${friend}"> </h3></a>
            </article>
        </div>


        <div id="chatScreen" class="middleDivs">

            <input type="hidden" id="iAmChattingWith" value=""/>

<!--            <form>-->
                <!-- CSRF token hidden field -->

            <div id="iconsDiv">
                <div id="callIconDiv" class="innerDivsCallAndVideo">
                    <img id="callIcon" class="callIcons" src="/images/icons/call.png" alt="Start voice call.">
                </div>
                <div id="videoCallIconDiv" class="innerDivsCallAndVideo">
                    <img id="videoCallIcon" class="callIcons" src="/images/icons/videocall.png" alt="Start video call.">
                </div>
            </div>
<!--            </form>-->

            <div id="videoBox">
                <video id="receivedVideo" autoplay></video>
                <video id="localVideo" autoplay muted></video>
<!--                <a hidden><h6 id="videoAndCallTargetId" th:text="${session.iAmChattingWith}"></h6></a>-->

                <div id="inCallIconsDiv">
                    <img id="inCallIcon" class="callIcons inCallIcons" src="/images/icons/call.png" alt="End voice call.">
                    <img id="inVideoCallIcon" class="callIcons inCallIcons" src="/images/icons/videocall.png" alt="End video call.">
                </div>
            </div>


            <div id="chatBox">

<!--                <article id="dummyArticle" class="chatArticle general">
                    <header class="messageTimeHeader">
                        <time> <h3> From: someone@whatever.com, 12:55:32 </h3> </time>
                    </header>

                    <p class="chatP"> <h1>TEST article in div chatBox </h1> </p>

                    <footer class="messageDateFooter">
                        <date> <h3> Sut Jul 15 2023 </h3> </date>
                    </footer>
                </article>
-->

            </div>


            <!-- form id="sendTextForm" action="sendText" method="post" enctype="text/plain"-->
            <form id="sendTextForm" enctype="text/plain">
                <input type="text" id="writeText" placeholder="Write something...">

                <!-- CSRF token hidden field -->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <input type="button" id="submitBtn" value=">>">
            </form>

        </div>

    </div>

</body>
</html>