<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatServer srl</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>

    <form action="/register" method="post" >
        <div class="formDiv">
            <label class="fl">Email
                <input type="email" id="email" class="fi common" name="email" required>
            </label>
        </div>
        <div class="formDiv">
            <label class="fl">Nick
                <input type="text" id="nick" class="fi common" name="nick" required>
            </label>
        </div>
        <div class="formDiv">
            <label class="fl">Name
                <input type="text" id="name" class="fi common" name="name" required>
            </label>
        </div>
        <div class="formDiv">
            <label class="fl">Surname
                <input type="text" id="surname" class="fi common" name="surname" required>
            </label>
        </div>
        <div class="formDiv">
            <label class="fl">Date of birth
                <input type="date" id="dob" class="fi common" name="dob" required>
            </label>
        </div>
        <div class="formDiv">
            <label class="fl">Phone nr
                <input type="tel" id="phonenr" class="fi common" name="phonenr" required>
            </label>
        </div>
        <div class="formDiv">
            <label class="fl">Bio
                <input type="text" id="bio" class="fi common" name="bio" required>
            </label>
        </div>
        <div class="formDiv">
            <label class="fl">Password
                <input type="password" id="password" class="fi common" name="password" required>
            </label>
        </div>

        <div id="divSmBn" class="formDiv">
            <button type="submit" id="submitBtn">Register</button>
        </div>
    </form>

</body>
</html>